<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eddc.johnsoncrawler.mapper.ShanxiCatalogueMapper">
    <resultMap id="BaseResultMap" type="com.eddc.johnsoncrawler.model.ShanxiCatalogue">
        <result column="procure_catalog_id" property="procureCatalogId" jdbcType="VARCHAR"/>
        <result column="gtype_name" property="gtypeName" jdbcType="VARCHAR"/>
        <result column="sort_name" property="sortName" jdbcType="VARCHAR"/>
        <result column="catalogue_type" property="catalogueType" jdbcType="VARCHAR"/>
        <result column="gpart_name" property="gpartName" jdbcType="VARCHAR"/>
        <result column="gpartreg_outlookc" property="gpartregOutlookc" jdbcType="VARCHAR"/>
        <result column="gpartreg_model" property="gpartregModel" jdbcType="VARCHAR"/>
        <result column="gpart_origin" property="gpartOrigin" jdbcType="VARCHAR"/>
        <result column="gpartminp_unit" property="gpartminpUnit" jdbcType="VARCHAR"/>
        <result column="code_count" property="codeCount" jdbcType="INTEGER"/>
        <result column="com_name" property="comName" jdbcType="VARCHAR"/>
        <result column="com_name_sc" property="comNameSc" jdbcType="VARCHAR"/>
        <result column="regcard_nm" property="regcardNm" jdbcType="VARCHAR"/>
        <result column="regcard_ded" property="regcardDed" jdbcType="VARCHAR"/>
        <result column="procure_cata_state" property="procureCataState" jdbcType="VARCHAR"/>
        <result column="gparts_price" property="gpartsPrice" jdbcType="DOUBLE"/>
        <result column="sync_number" property="syncNumber" jdbcType="VARCHAR"/>
        <result column="search_keyword" property="searchKeyword" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insert" parameterType="com.eddc.johnsoncrawler.model.ShanxiCatalogue">
    insert into Johnson_shanxi_catalogue (procure_catalog_id, gtype_name, sort_name, 
      catalogue_type, gpart_name, gpartreg_outlookc, 
      gpartreg_model, gpart_origin, gpartminp_unit, 
      code_count, com_name, com_name_sc, 
      regcard_nm, regcard_ded, procure_cata_state, 
      gparts_price, sync_number, search_keyword, 
      account, insert_time, update_time
      )
    values (#{procureCatalogId,jdbcType=VARCHAR}, #{gtypeName,jdbcType=VARCHAR}, #{sortName,jdbcType=VARCHAR}, 
      #{catalogueType,jdbcType=VARCHAR}, #{gpartName,jdbcType=VARCHAR}, #{gpartregOutlookc,jdbcType=VARCHAR}, 
      #{gpartregModel,jdbcType=VARCHAR}, #{gpartOrigin,jdbcType=VARCHAR}, #{gpartminpUnit,jdbcType=VARCHAR}, 
      #{codeCount,jdbcType=INTEGER}, #{comName,jdbcType=VARCHAR}, #{comNameSc,jdbcType=VARCHAR}, 
      #{regcardNm,jdbcType=VARCHAR}, #{regcardDed,jdbcType=VARCHAR}, #{procureCataState,jdbcType=VARCHAR}, 
      #{gpartsPrice,jdbcType=DOUBLE}, #{syncNumber,jdbcType=VARCHAR}, #{searchKeyword,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.eddc.johnsoncrawler.model.ShanxiCatalogue">
        insert into Johnson_shanxi_catalogue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="procureCatalogId != null">
                procure_catalog_id,
            </if>
            <if test="gtypeName != null">
                gtype_name,
            </if>
            <if test="sortName != null">
                sort_name,
            </if>
            <if test="catalogueType != null">
                catalogue_type,
            </if>
            <if test="gpartName != null">
                gpart_name,
            </if>
            <if test="gpartregOutlookc != null">
                gpartreg_outlookc,
            </if>
            <if test="gpartregModel != null">
                gpartreg_model,
            </if>
            <if test="gpartOrigin != null">
                gpart_origin,
            </if>
            <if test="gpartminpUnit != null">
                gpartminp_unit,
            </if>
            <if test="codeCount != null">
                code_count,
            </if>
            <if test="comName != null">
                com_name,
            </if>
            <if test="comNameSc != null">
                com_name_sc,
            </if>
            <if test="regcardNm != null">
                regcard_nm,
            </if>
            <if test="regcardDed != null">
                regcard_ded,
            </if>
            <if test="procureCataState != null">
                procure_cata_state,
            </if>
            <if test="gpartsPrice != null">
                gparts_price,
            </if>
            <if test="syncNumber != null">
                sync_number,
            </if>
            <if test="searchKeyword != null">
                search_keyword,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="procureCatalogId != null">
                #{procureCatalogId,jdbcType=VARCHAR},
            </if>
            <if test="gtypeName != null">
                #{gtypeName,jdbcType=VARCHAR},
            </if>
            <if test="sortName != null">
                #{sortName,jdbcType=VARCHAR},
            </if>
            <if test="catalogueType != null">
                #{catalogueType,jdbcType=VARCHAR},
            </if>
            <if test="gpartName != null">
                #{gpartName,jdbcType=VARCHAR},
            </if>
            <if test="gpartregOutlookc != null">
                #{gpartregOutlookc,jdbcType=VARCHAR},
            </if>
            <if test="gpartregModel != null">
                #{gpartregModel,jdbcType=VARCHAR},
            </if>
            <if test="gpartOrigin != null">
                #{gpartOrigin,jdbcType=VARCHAR},
            </if>
            <if test="gpartminpUnit != null">
                #{gpartminpUnit,jdbcType=VARCHAR},
            </if>
            <if test="codeCount != null">
                #{codeCount,jdbcType=INTEGER},
            </if>
            <if test="comName != null">
                #{comName,jdbcType=VARCHAR},
            </if>
            <if test="comNameSc != null">
                #{comNameSc,jdbcType=VARCHAR},
            </if>
            <if test="regcardNm != null">
                #{regcardNm,jdbcType=VARCHAR},
            </if>
            <if test="regcardDed != null">
                #{regcardDed,jdbcType=VARCHAR},
            </if>
            <if test="procureCataState != null">
                #{procureCataState,jdbcType=VARCHAR},
            </if>
            <if test="gpartsPrice != null">
                #{gpartsPrice,jdbcType=DOUBLE},
            </if>
            <if test="syncNumber != null">
                #{syncNumber,jdbcType=VARCHAR},
            </if>
            <if test="searchKeyword != null">
                #{searchKeyword,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <select id="selectNewData" resultMap="BaseResultMap">
       select TOP 1 * from Johnson_shanxi_catalogue order by insert_time desc
    </select>

    <select id="selectNewDataByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select TOP 1 * from Johnson_shanxi_catalogue where account = #{account} order by insert_time desc
    </select>
</mapper>